<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:rabbit="http://www.springframework.org/schema/rabbit"
    xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/rabbit
          http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd"
          >
    
    <rabbit:connection-factory id="connectionFactory" host="${mq.host}" username="${mq.username}" password="$mq.password" />
	
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
		exchange="myExchange" routing-key="postcard"/>
	
	<rabbit:admin connection-factory="connectionFactory" />
	
	<rabbit:queue name="activeQueue" />
	
	<rabbit:topic-exchange name="myExchange">
		<rabbit:bindings>
			<rabbit:binding queue="activeQueue" pattern="cn.red.com.*" />
		</rabbit:bindings>
	</rabbit:topic-exchange>
	
	<!-- <rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="foo" method="listen" queue-names="activeQueue" />
	</rabbit:listener-container>-->
	
	<bean id="foo" class="cn.red.com.rabbitmq.FooConsumer" />
	
</beans> 