<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:rabbit="http://www.springframework.org/schema/rabbit"
    xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/rabbit
          http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd"
          >

	<!-- 激活那些已经在spring容器里注册过的bean -->
    <context:annotation-config />
    
    <!-- 扫描包中的service,repository,component... -->
    <!-- controller的扫描要在dispathcer-servlet的配置文件中配置 -->
    <context:component-scan base-package = "cn.red.com.*,cn.red.com.*.*"/>
    
    <!-- 加载 模块下 spring 配置文件 -->
    <import resource="classpath:config/rabbitmq/spring-*.xml" />
        
    <!-- 属性文件 -->
    <context:property-placeholder location="classpath:application.properties"/>
	
	  <!-- 属性文件 -->
    <context:property-placeholder location="classpath:log4j.properties"/>
	
</beans> 